.allignmentContainer {
  font-family: monospace;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 145px);
}

.allignment {
  background-color: #282828;
  padding: 10px;
  margin-top: 5px;
  margin-right: 10px;
  display: inline-flexbox;
  overflow-x: scroll;
  white-space: nowrap;
}

.allignment::-webkit-scrollbar,
.allignmentContainer::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}