.matrixContainer2 {
  width: calc(100vw - 40px);
  height: calc(100vh - var(--headline-size) - 60px);
  overflow: scroll;
  margin: 20px;
  z-index: 0;
  display: inline-flex;
}

.cubicPlane {
  position: absolute;
}

.cubicRow {
  display: flex;
  flex-direction: row;
  margin-bottom: -34px;
}

.cubic {
  display: inline-block;
  margin-right: -34px;
}

.matrixContainer2::-webkit-scrollbar {
  display: none;
}
