.randomButtonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-1);
  grid-gap: 5px;
  padding: 5px;
}

.randomButton {
  height: calc(var(--box-size));
  background-color: var(--color-2);
  color: var(--text-color);
  font-size: var(--font-size);
  border: none;
  padding: 5px;
}

.randomButton:hover {
  background-color: var(--color-2-accent);
}

.randomSlideContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-1);
  grid-gap: 5px;
  padding: 0 5px 5px 5px;
}

.randomSlide {
  width: calc(100% - 100px);
  background-color: var(--color-2);
  color: var(--text-color);
  font-size: var(--font-size);
  border: none;
  padding: 5px;
}

.buttonCounter {
  background-color: transparent;
  color: var(--text-color);
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}