.button {
  background-color: var(--color-2);
  height: calc(var(--box-size) + 10px);
  width: fit-content;
  font-size: var(--font-size);
  color: var(--text-color);
  padding: 10px;
  margin: 0px;
  border: solid 5px var(--color-1);
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: var(--color-2-accent);
}

.disabled {
  opacity: 0.5;
}