.matrixContainer {
  width: calc(100vw - 40px);
  height: calc(100vh - var(--headline-size) - 60px);
  overflow: scroll;
  margin: 20px;
  z-index: 0;
}

.matrixMask {
  background-color: var(--color-1);
  max-width: none;
  max-height: none;
  padding: 5px;
  overflow: hidden;
}

.matrix {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--row-length), minmax(min-content, max-content));
  width: fit-content;
  transform-origin: 0 0;
  transform: scale(var(--matrix-scale));
}


.arrow0, .arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7 {
  position: absolute;
  height: 50px;
  width: 50px;
  pointer-events: none;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background-size: 50px 50px;
}
.arrow1 {background-image: url('./Icons/ArrowD.png');}
.arrow2 {background-image: url('./Icons/ArrowV.png');}
.arrow3 {background-image: url('./Icons/ArrowH.png');}
.arrow4 {background-image: url('./Icons/ArrowDV.png');}
.arrow5 {background-image: url('./Icons/ArrowDH.png');}
.arrow6 {background-image: url('./Icons/ArrowVH.png');}
.arrow7 {background-image: url('./Icons/ArrowDVH.png');}

.line0, .line1, .line2, .line3, .line4, .line5, .line6, .line7 {
  position: absolute;
  height: 19px;
  width: 19px;
  pointer-events: none;
  bottom: -0px;
  right: -0px;
  z-index: 1;
  background-size: 19px 19px;
  background-position: 0 0;
}

.line1 {background-image: url('./Icons/Line1.png');}
.line2 {background-image: url('./Icons/Line2.png');}
.line3 {background-image: url('./Icons/Line3.png');}
.line4 {background-image: url('./Icons/Line4.png');}
.line5 {background-image: url('./Icons/Line5.png');}
.line6 {background-image: url('./Icons/Line6.png');}
.line7 {background-image: url('./Icons/Line7.png');}

.none {
  display: none;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  margin-right: -0.5px;
  margin-bottom: -0.5px;
  padding: 0px;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.row {
  height: auto;
  display:flex;
  line-height: 0;
}

.first-row {
  border-bottom: solid 5px var(--color-1);
  background-color: var(--color-2);
  z-index: 1;
}

.first-col {
  border-right: solid 5px var(--color-1);
  background-color: var(--color-2);
  z-index: 1;
}

.level2Score {background-color: #1a0000;}

.level3Score {background-color: #330000;}

.level4Score {background-color: #4d0000;}

.level5Score {background-color: #660000;}

.level6Score {background-color: #800000;}

.level7Score {background-color: #990000;}

.level8Score {background-color: #b30000;}

.level9Score {background-color: #cc0000;}

.level10Score {background-color: #ff0000;}

.matrixContainer::-webkit-scrollbar {
    display: none;
  }