.selectObject {
  background-color: var(--color-2);
  height: calc(var(--box-size) + 10px);
  width: calc(var(--settingsBar-size) - 30px);
  font-size: var(--font-size);
  color: var(--text-color);
  padding: 0px 0px 0px 10px;
  margin: 0px;
  border: solid 5px var(--color-1);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../CSS/Icons/SelectArrows.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 5px);
  background-color: var(--headline-bg-accent);
  background-size: 20px 25px;
}

.selectObject:hover {
  background-color: var(--color-2-accent);
}

.selectObject:focus {
  outline: none;
}