body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-0: #000000;
  --color-1: #282828;
  --color-2: #3e3e3e;
  --color-2-accent: #444444;
  --color-3: #4f4f4f;
  --text-color: #ececec;
  --font-size: 16px;
  --headline-size: 60px;
  --border: 2px solid #282828;
  --settingsBar-size: 300px;
  --speed: 0.8s;
  --box-size: 40px;
  --matrix-scale: 1;
  --square-size: 50px;
  --row-length: 2;
  --column-length: 2;
}

@media screen and (max-width: 600px) {
  :root {
    --font-size: 12px;
    --box-size: 30px;
  }
}